altair==5.0.0rc1
contourpy==1.0.7
expects==0.9.0
hvplot==0.8.3
joblib==1.2.0
jupyter==1.0.0
numba==0.56.4
pip-check==2.8.1
pipdeptree==2.7.0
ptpython==3.0.23
vega-datasets==0.9.0
wheel==0.40.0
xyzservices==2023.2.0
